MAX_CONCURRENT=300
GEO_URL=http://ip-api.com/json/?fields=status,message,country,countryCode
DOWNLOAD_TEST_URL=https://speed.cloudflare.com/__down?bytes=1048576
DOWNLOAD_SIZE_BYTES=1048576
PROXY_TIMEOUT=10
